*{
    padding: 0;
    margin: 0;
}

html {
   scroll-behavior: smooth; 
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header{
    background-color: rgb(252, 220, 180);
}

ul{
    list-style: none;
}

.nav-list{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
}

 .nav-link a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 400;
 }
 
 .nav-link a:hover{
    color: rgb(77, 74, 74);
 }

 .main{
    padding: 25px 200px;
    margin-bottom: 20px;
 }

 .main-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
 }

 .card-avatar img{
    border-radius: 100%;
 }

 .card-name{
    margin-top: 10px;
    text-align: center;
 }

 .card-name hr{
   height: 1px;
   background-color: black;
 }

 .section-info{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
 }

 .section-item{
    margin: 20px 75px 10px;
    width: 35%;
 }

 .section-card-title{
   margin-bottom: 10px;
   color: rgb(190, 141, 82);
 }

 .card-list-item{
   line-height: 26px;
 }

 .card-list-item a{
   text-decoration: none;
   color: rgb(202, 149, 85);
      font-weight: 400;
}

.card-list-item a:hover{
   color: rgb(54, 52, 52);
}

 .section-info hr{
   align-self: flex-end;
 }

 .footer-section{
   background-color: bisque;
   padding: 10px 0px;
 }

 .footer-nav-list{
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.footer-nav-link {
   padding: 0 20px;
}

.footer-nav-link a{
   text-decoration: none;
   color: black;
   font-size: 20px;
   font-weight: 400;
}